@model TicketDetailsViewModel
<!-- -->

<div class="card-body">
    <div id="ticketHeader">
        <div class="view-mode d-flex justify-content-between align-items-center">
            <h3 id="ticketTitleDisplay">@Model.Title <span class="text-secondary fw-light">#@Model.Id</span></h3>
            @if (Model.CanEdit)
            {
                <a class="btn btn-outline-primary" href="@Url.Action("Edit", "Ticket", new { id = Model.Id })">Edit</a>
            }
        </div>
    </div>
    <hr />
    <h5>Description</h5>
    <div id="ticketDescription">
        <p>@Model.Description</p>
    </div>
    <hr />
    <form action="@Url.Action("CloseOrOpen", "Ticket", new { id = Model.Id })" method="post" class="d-inline">
        <button type="submit" class="btn btn-primary">
            @(Model.IsOpen ? "Close Ticket" : "Reopen Ticket")
        </button>
    </form>
</div>