@model TicketPaginationViewModel

@{
    ViewData["Title"] = "Tickets";
}

<!-- This view displays paginated tickets in a index card list -->

<section class="list-group mb-3">
    <!-- List Header -->
    <div class="list-group-item d-flex justify-content-between">
        <div class="btn-group">
            <!-- All -->
            <a class="btn @(Model.TicketState == null ? "btn-outline-primary active" : "btn-outline-primary") text-decoration-none"
               asp-action="Index"
               asp-route-ticketState="@null"
               id="closed-filter">
                <span>All</span>
                <span class="badge rounded-pill @(Model.TicketState == null ? "bg-light text-primary" : "bg-primary text-white") px-3">
                    @Model.TotalTickets
                </span>
            </a>

            <!-- Open Button -->
            <a class="btn @(Model.TicketState == true ? "btn-outline-success active" : "btn-outline-success") text-decoration-none"
               asp-action="Index"
               asp-route-ticketState="@true"
               id="open-filter">
                <span>Open</span>
                <span class="badge rounded-pill @(Model.TicketState == true ? "bg-light text-success" : "bg-success text-white") px-3">
                    @Model.TotalOpenTickets
                </span>
            </a>

            <!-- Closed Button -->
            <a class="btn @(Model.TicketState == false ? "btn-outline-danger active" : "btn-outline-danger") text-decoration-none"
               asp-action="Index"
               asp-route-ticketState="@false"
               id="closed-filter">
                <span>Closed</span>
                <span class="badge rounded-pill @(Model.TicketState == false ? "bg-light text-danger" : "bg-danger text-white") px-3">
                    @Model.TotalClosedTickets
                </span>
            </a>
        </div>
        <div>
            <a class="btn btn-primary text-decoration-none hover-text-" asp-action="Create">
                New Ticket
            </a>
        </div>
    </div>

    @foreach (TicketIndexViewModel ticket in Model.Tickets)
    {
        <li class="list-group-item d-flex align-items-center">
            <!-- Left Column (Status) -->
            <div class="col-auto me-3">
                <!-- Status Icon (Open or Closed) -->
                <svg class="status-icon octicon octicon-issue-opened" fill="@((ticket.IsOpen ? "green" : "red"))" aria-hidden="true" width="16" height="16">
                    <circle cx="8" cy="8" r="7" />
                </svg>
            </div>

            <!-- Middle Column (Title and Metadata) -->
            <div class="col title-column">
                <!-- Title and Tags -->
                <div class="d-flex">
                    <h5 class="me-2">
                        <a class="text-dark link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover" asp-controller="Ticket" asp-action="Details" asp-route-id="@ticket.Id" class="text-decoration-none text-dark">
                            @ticket.Title
                        </a>

                    </h5>

                    <!-- Eventually Tags will be displayed here -->
                    <div>
                    </div>
                </div>

                <!-- Metadata (Assignee, Date) -->
                <div class="metadata text-muted">
                    <span>#@ticket.Id</span>
                    <span>·</span>
                    <span>
                        <a class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover" asp-controller="Profile" asp-action="Profile" asp-route-username="@ticket.Username">@ticket.Username</a>
                    </span>
                    <span>·</span>
                    <span>
                        @(ticket.IsOpen ?
                            $"Opened on {ticket.CreatedAt.ToString("MMM dd, yyyy")}" :
                            $"Closed on {(ticket.ClosedAt.HasValue ? ticket.ClosedAt.Value.ToString("MMM dd, yyyy") : "N/A")}")
                    </span>
                </div>
            </div>

            
        </li>

    }

</section>
<section class="pagination justify-content-center">
    <ul class="pagination">
        <!-- Previous Button -->
        <li class="page-item @(Model.CurrentPage > 1 ? "" : "disabled")">
            <a class="page-link"
               href="@(Model.CurrentPage > 1 ? Url.Action("Index", new { page = Model.CurrentPage - 1, ticketState = Model.TicketState }) : "javascript:void(0);")"
               style="@(Model.CurrentPage > 1 ? "" : "pointer-events: none; user-select: none;")">
                Previous
            </a>
        </li>

        <!-- Nth Page Buttons -->
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @((i == Model.CurrentPage) ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-ticketState="@Model.TicketState" asp-route-page="@i">@i</a>
            </li>
        }

        <!-- Next Button -->
        <li class="page-item @(Model.CurrentPage < Model.TotalPages ? "" : "disabled")">
            <a class="page-link"
               href="@(Model.CurrentPage<Model.TotalPages? Url.Action("Index", new { page = Model.CurrentPage + 1, ticketState = Model.TicketState }) : "javascript:void(0);")"
               style="@(Model.CurrentPage < Model.TotalPages ? "" : "pointer-events: none; user-select: none;")">
                Next
            </a>
        </li>
    </ul>
</section>